<div class="edit-layout">
  <h2>Modifier la réservation</h2>
  <form [formGroup]="editForm" (ngSubmit)="submit()">
    
    <label>
      Salle :
      <select formControlName="room">
        <option *ngFor="let r of rooms" [value]="r.id">{{ r.nom }}</option>
      </select>
    </label>

    <label>
      Date :
      <input type="date" formControlName="date">
    </label>

    <label>
      Heure de début :
      <input type="time" formControlName="startTime">
    </label>

    <label>
      Heure de fin :
      <input type="time" formControlName="endTime">
    </label>
    
    <label *ngIf="isAdmin">
      Statut :
      <select formControlName="statut">
        <option value="ACTIVE">Active</option>
        <option value="EXPIREE">Expirée</option>
      </select>
    </label>
    <div *ngIf="!isAdmin">
      <label>Statut :</label>
      <span>{{ editForm.get('statut')?.value }}</span>
    </div>

    <button type="submit" [disabled]="editForm.invalid">Enregistrer</button>
    <button type="button" (click)="onCancel()">Annuler</button>

    <div *ngIf="error" class="reservation-error-fixed">{{ error }}</div>
    <div *ngIf="success" class="reservation-success-fixed">Réservation modifiée avec succès !</div>
    <div *ngIf="loading">Chargement...</div>
  </form>
</div>
