<div class="login-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>Nom</label>
    <input formControlName="nom" type="text" />

    <label>Email</label>
    <input formControlName="email" type="text" />

    <label>Mot de passe</label>
    <input formControlName="motDePasse" type="password" />

    <div *ngIf="errorMessage" class="login-error">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" style="color: green; margin-bottom: 12px;">
      {{ successMessage }}
    </div>

    <div class="login-buttons">
      <button type="submit">Créer un compte</button>
      <button type="button" (click)="goToLogin()">Déjà inscrit ? Se connecter</button>
    </div>
  </form>
</div>
